.header{
    color: rgb(99, 77, 23);
    text-align: center;
}

.catroom{
    width: 45%;
    height: auto;
}

.coffee{
    width: 25%;
    height: auto;
}

.koara{
    width:15%;
    height: auto;
}

.kangaroo{
    width: 55%;
    height: auto;
}