.header{
    top: 5;
    width: 100%;
    height:40pt;
    background-color: rgb(245, 208, 120);
    color: rgb(137, 99, 17);
    text-align: center;
    font-family: 'Courier New';
}

.body{
    background-color: rgb(253, 244, 222)
}

.index{
    background-color: rgb(245, 208, 120);
    color: rgb(154, 128, 55);
    font-family: 'Monotype Corsiva';
}

.link{
    color: rgb(53, 38, 4);
}
